# Build directories
build/
out/
bin/

# IDE-specific files
.vscode/
.idea/

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks (exclude all .ipynb files)
**/*.ipynb

# General cache folders
.cache/
